

*{
    background-color:#e9e9e9;
    text-align: center;
}

body {
    background-repeat: no-repeat;
    background-position: top;
    background-color: #f2f2f2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a {
    color: black;
    text-decoration: none;
    margin: 10px 20px;
}
a:hover {
  color: blue;
}
.content {
    left: 500px;
    top: 300px;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo {
    margin: 30px 380px 10px 400px;
}
input {
    margin: 5px 0px 5px 400px;
    border-radius: 10px;
    width: 450px;
    height: 40px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}
.nav {
  width: 988px;
  height: 64px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
}
form .search_icon {
  width: 30px;
  /* background-color: #f2f2f2; */
  display: inline-block;
  padding-top: 10px;
}
form {
  width: 1280px;
  height: 36px;
}
.share {
  width: 400px;
  height: 67px;
  margin-top: 50px;
  margin-left: 430px;
  text-align: center;
}
.share a img {
width: 50px;
}
.contact {
  width: 155px;
  height: 48px;
  margin-top: 20px;
  margin-left: 560px;
  text-align: center;
  font-size: 20;
}
.contact img {
  width: 20px;
  height: 20px;
}